hr {
    border: 1px solid #61dafb;
}

input {
    box-shadow: none !important;
    border: none !important;
}

input:focus {
    box-shadow: none !important;
    border: none !important;
}

.App {
    background-color: black;
    color: #61dafb;
    height: 100vw;
    margin-bottom: 0px;
    padding-top: 5vw;
}

.App-logo {
    height: 5vmin;
    pointer-events: none;
}

.header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    text-align: center;
    font-weight: bold;
}

.value {
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
}
